body {
    margin: 60px auto;
    width: 70%;
}
/* ---------------------------------------------------------
Navbar
---------------------------------------------------------*/

.navbar {
  background-color: #333;
  border-bottom: 0px;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9em;
}

.navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
}

.navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
