<!DOCTYPE html>
<html>
  <head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://arunsolomon.github.io/">Arun Solomon</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://arunsolomon.github.io/#unix">Unix</a>
                <a class="dropdown-item" href="https://arunsolomon.github.io/#SQL">SQL</a>
                <a class="dropdown-item" href="https://arunsolomon.github.io/#Teradata">Teradata</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://arunsolomon.github.io/blog">Blog</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://arunsolomon.github.io/about">About</a>
                <a class="dropdown-item" target="_blank" href="/cv">CV</a>
                <a class="dropdown-item" target="_blank" href="https://github.com/arunsolomon">GitHub</a>
                <a class="dropdown-item" target="_blank" href="https://twitter.com/aruncsolomon">Twitter</a>
                </div>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
    {{ content }}
</div><!-- /.container -->
<footer class="footer text-center">
    <div class="container">
        <span class="text-muted">Copyright © Arun Solomon</span>
    </div>
</footer>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 <script>
	$(window).scroll(function() {
	  if ($(document).scrollTop() > 50) {
	    $('nav').addClass('shrink');
	  } else {
	    $('nav').removeClass('shrink');
	  }
	});
  </script>
</body>
</html>
